.menu {
    width: 100%;
    white-space: nowrap;
    border-bottom: solid var(--interval-minimum) var(--color-theme-hard);
    background-color: var(--background);

    --background: var(--color-theme-soft);
    --hovered: var(--color-theme-light);
}

.list {
    display: flex;
    transition: var(--timing-base);
}

.item {
    position: relative;
    background-color: var(--background);
    transition: var(--timing-base);

    &:hover {
        background-color: var(--hovered);
        transition-duration: var(--timing-tick);

        & > .list {
            opacity: 1;
            pointer-events: all;
            z-index: var(--z-index-up);
            transition-duration: var(--timing-tick);
        }
    }
}

.label {
    justify-content: space-between;
}

.command,
.label {
    display: flex;
    padding: var(--interval-small);
    text-align: left;
}


/* Relative styles */

.menu > .list .list {
    position: absolute;
    flex-direction: column;
    border: solid var(--interval-minimum) var(--hovered);
    opacity: 0;
    pointer-events: none;
}

.menu > .list .list .command,
.menu > .list .list .label {
    width: 10em;
}

.menu > .list > .item > .label > svg {
    display: none;
}

.menu > .list .list .list {
    left: 100%;
    top: calc(var(--interval-minimum) * -1);
}