.container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: fit-content;
  background-color: var(--background);

  --background: var(--color-theme-soft);
  --hovered: var(--color-theme-light);
  --selected: var(--color-theme-accent-dark);
  --column-gap: var(--interval-small);
  --row-gap: var(--interval-base);
}

.explorer {
  position: relative;
  overflow: auto;
  flex-grow: 1;
  white-space: nowrap;

  & > .content {
    position: absolute;
    padding: var(--interval-base);
  }
}

.header {
  display: flex;
  justify-content: space-between;
  border-bottom: solid var(--interval-minimum) var(--color-theme-hard);

  & button {
    padding: var(--interval-small);

    &:hover {
      background-color: var(--hovered);
    }
  }
}

.tools {
  display: flex;
}

.folder {
  display: flex;
  flex-direction: column;
  column-gap: var(--column-gap);
  row-gap: var(--row-gap);

  &:not(.collapsed) > .label > button > svg {
    transform: rotate(90deg);
  }
}

.label {
  display: flex;
  column-gap: var(--column-gap);
  row-gap: var(--row-gap);
}

.content {
  display: flex;
  flex-direction: column;
  padding-left: calc(var(--interval-small) + 1em);
  column-gap: var(--column-gap);
  row-gap: var(--row-gap);
}

.file {
  display: flex;
  padding-left: calc(var(--interval-small) + 1em);
  column-gap: var(--column-gap);
  row-gap: var(--row-gap);
}

.resizeMe {
  position: absolute;
  z-index: var(--z-index-up);
  top: 0;
  right: 0;
  bottom: 0;
  width: var(--interval-small);
  cursor: e-resize;
  transform: translateX(100%);
}

.rolled > .explorer > .content,
.rolled > .resizeMe,
.rolled > .header > .tools,
.collapsed > .content {
  display: none;
}