* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: inherit;
    letter-spacing: 0.04em;
    line-height: 1em;
    cursor: default;
}

html,
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
}

ol,
ul {
    list-style: none;
}

button {
    background: none;
    border: none;
    border-radius: 0;
    cursor: pointer;
    font-size: 1em;
}